<div class="title">
  <h1>Operating Systems</h1>
</div>
<div class="container" *ngIf="cards.length">
  <div class="card">

    <h2 contenteditable="true">{{ cards[currentIndex].title }}</h2>

    <h3 contenteditable="true">{{ cards[currentIndex].subtitle }}</h3>

    <p contenteditable="true">
      {{ cards[currentIndex].content }}
    </p>

    <div class="buttons">

      <button (click)="prev()" [disabled]="currentIndex === 0">
        BACK
      </button>

      <button 
        *ngIf="currentIndex < cards.length - 1"
        (click)="next()">
        NEXT
      </button>

      <a 
        *ngIf="currentIndex === cards.length - 1"
        routerLink="/flashcards"
        class="end">
        END
      </a>

    </div>
  </div>
</div>