<!--Instructions page-->
@if (mode === 'intro') {
  <form>
    <fieldset>
      <legend class="center">Programming:</legend>
      <fieldset class="center2">
        <legend class="mt-4 title">Easy Quiz!</legend>
        <p class="center2">
          Welcome to Programming Easy Quiz! You will encounter 10 questions about operating
          systems. Pick the best answer for each question and click submit at the end to see your
          score!
        </p>
        <p class="center2">Good Luck!</p>
      </fieldset>
      <div class="row text-center">
        <div class="col">
          <button type="button" class="btn btn-primary" routerLink="/quizzes">Back</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-primary" (click)="startQuiz()">Start!</button>
        </div>
      </div>
    </fieldset>
  </form>
}

<!--Quiz proper-->
@if (mode === 'quiz') {
  <div class="quiz">
    <form>
      <fieldset>
        <fieldset>
          <div class="box">
            <h1 class="center">Programming</h1>
            <legend class="mt-4">{{ questions[currentQuestionIndex].question }}</legend>
            <div
              class="form-check"
              *ngFor="let option of questions[currentQuestionIndex].options; let i = index"
            >
              <input
                class="form-check-input"
                type="radio"
                [name]="'q' + currentQuestionIndex"
                [id]="'option' + i"
                [value]="i"
                [(ngModel)]="selectedAnswers[currentQuestionIndex]"
              />
              <label class="form-check-label smol" [for]="'option' + i">
                {{ option }}
              </label>
            </div>
            @if(currentQuestionIndex < questions.length - 1){
              <button type="button" (click)="nextQuestion()" class="btn btn-primary">Next</button>
            } @else{
              <button type="button" (click)="nextQuestion()" class="btn btn-primary">Submit</button>
            }
          </div>
        </fieldset>
      </fieldset>
    </form>
  </div>
}

<!--Results-->
@if (mode === 'result') {
  @if(score >= passingScore){
    <div class="quiz">
      <div class="box">
        <h3 class="center">You passed! 😀</h3>
        <p class="center2">This is you score: {{ score }}</p>
        <button type="button" routerLink="/quizzes" class="btn btn-primary">Back</button>
      </div>
    </div> 
  }

  @if(score < passingScore){
    <div class="quiz">
      <div class="box">
        <h3 class="center">Try again 😔</h3>
        <p class="center2">This is you score: {{ score }}</p>
        <button type="button" routerLink="/quizzes" class="btn btn-primary">Back</button>
      </div>
    </div>
  }
}