<div class="card text-white bg-primary mb-3" style="max-width: 20rem; margin-top: 20px; cursor: pointer;" [routerLink]="['/progit']">
    <div class="card-body">
      <h4 class="card-title">Programming</h4>
      <p class="card-text">These lessons introduces the fundamental concepts of computer programming. 
        Students will learn the basics of problem-solving through code, covering topics such as variables, data types, control structures (conditionals and loops), 
        functions, and basic input/output operations. By the end of the course, students will be able to write simple programs and apply logical thinking to solve real-world 
        computational problems.</p>
    </div>
</div>

<div class="card text-white bg-primary mb-3" style="max-width: 20rem; margin-top: 20px; cursor: pointer;" [routerLink]="['/sitnet']">
    <div class="card-body">
      <h4 class="card-title">Networking</h4>
      <p class="card-text">These lessons introduces the fundamental concepts of computer networks and data communication.
        Students will learn how networks are structured and how devices communicate with each other, covering topics such as network topologies, IP addressing, subnetting, 
        routing, and switching. By the end of the course, students will be able to configure basic network setups and understand how data travels across local and wide area networks.</p>
    </div>
</div>

<div class="card text-white bg-primary mb-3" style="max-width: 20rem; margin-top: 20px; cursor: pointer;" [routerLink]="['/opsyst']">
    <div class="card-body">
      <h4 class="card-title">Operating System</h4>
      <p class="card-text">This course introduces the core concepts and functions of modern operating systems. 
        Students will explore how an operating system manages hardware and software resources, covering topics such as process management, 
        memory management, file systems, and user interface interaction. By the end of the course, students will have a solid understanding of how operating 
        systems work under the hood and be able to perform basic system administration tasks in both Windows and Linux environments.</p>
    </div>
</div>