<div class="card text-white bg-primary mb-3" style="max-width: 20rem; margin-top: 20px; cursor: pointer;" [routerLink]="['/learn', 'progit']">
    <div class="card-body">
      <h4 class="card-title">Programming</h4>
      <p class="card-text"><strong>Start here if you're new to coding.</strong> These lessons introduce the fundamental concepts of computer programming...</p>
    </div>
</div>

<div class="card text-white bg-primary mb-3" style="max-width: 20rem; margin-top: 20px; cursor: pointer;" [routerLink]="['/learn', 'sitnet']">
    <div class="card-body">
      <h4 class="card-title">Networking</h4>
      <p class="card-text"><strong>Learn how devices talk to each other.</strong> These lessons introduce the fundamental concepts of computer networks and data communication...</p>
    </div>
</div>

<div class="card text-white bg-primary mb-3" style="max-width: 20rem; margin-top: 20px; cursor: pointer;" [routerLink]="['/learn', 'opsyst']">
    <div class="card-body">
      <h4 class="card-title">Operating System</h4>
      <p class="card-text"><strong>Understand what runs under the hood.</strong> This course introduces the core concepts and functions of modern operating systems...</p>
    </div>
</div>