.center{
    text-align: center;
    font-size: 56px;
    margin: 10px;
}

.center2{
    text-align: center;
    font-size: 28px;
    margin: 20px;
}

.mt-4{
    text-align: center;
    font-size: 42px;
}

.btn{
    background-color: green;
}